<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Lists and Conditional Content</h1>
    </header>
    <section id="user-tasks">
      <h2>Assignment</h2>
      <input type="text" v-model="enteredTask" v-on:keyup.enter="addTask"/>
      <button v-on:click="addTask">Add task</button>
      <button v-show="tasks.length > 0" v-on:click="resetTasks">Reset tasks</button>
      <p v-show="tasks.length === 0">No tasks have been added yet - please start adding some!</p>
      <ul>
        <li v-if="listIsVisible" v-for="(task, index) in tasks" :key="task" v-on:click="removeTask(index)">
          <p>{{ index + 1 }}. {{ task}}</p>
          <input type="text" @click.stop/>
        </li>
      </ul>
      <button @click="toggleTasklist">{{ buttonLabel }}</button>
    </section>
  </body>
</html>
